:root {
    --color-green: #42b983;
    --color-gray: #2c3e50;
}
html, body {
    margin: 0;
}

/* task manager  */
.task-manager-wrap {
    display: flex;
}
.task-manager {
    padding: 15px;
    height: 500px;
    flex-grow: 1;
    max-width: 33.333%;
    box-sizing: border-box;
}
.task-manager .box {
    background-color: var(--color-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.box__title {
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.task-manager--assigned .box__title {
    background: rgb(240, 64, 64);
}
.task-manager--ongoing .box__title {
    background: rgb(243, 174, 35);
}
.task-manager--completed .box__title {
    background: var(--color-green);
}
.box__content {
    padding: 15px;
    height: calc(100% - 46px);
}