:root {
    --color-green: #42b983;
    --color-gray: #2c3e50;
}
html, body {
    margin: 0;
}
.pull-right {
    float: right;
}

/* button */
.btn {
    background: var(--color-green);
    border: 1px solid var(--color-green);
    padding: 8px 15px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* input */
.input,
.textarea {
    padding: 8px 10px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #333;
    margin-bottom: 10px;
}
.textarea {
    resize: none;
}

/* modal */
.modal-title {
    text-align: center;
    font-weight: bold;
}
.modal-name,
.modal-desc,
.modal-label{
    margin: 0
}
.modal-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.modal-label {
    font-size: 12px;
}
.modal-desc {
    white-space: pre;
}
.modal-col {
    display: inline-block;
    min-width: 80px;
}
.modal-text,
.modal-desc {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}

/* task manager  */
.task-manager-wrap {
    display: flex;
}
.task-manager {
    padding: 15px;
    height: 500px;
    flex-grow: 1;
    max-width: 33.333%;
    box-sizing: border-box;
}
.task-manager .box {
    background-color: var(--color-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.box__title {
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.task-manager--assigned .box__title {
    background: rgb(240, 64, 64);
}
.task-manager--ongoing .box__title {
    background: rgb(243, 174, 35);
}
.task-manager--completed .box__title {
    background: var(--color-green);
}
.box__content {
    padding: 15px;
    height: calc(100% - 76px);
    overflow-y: auto;
}